<!doctype html>
<html>
    <head>
        <title>About</title>
		<link rel="stylesheet" href="../public/css/site.css" type="text/css">
        <link rel="stylesheet" href="https://cdn.rawgit.com/WEB222-Samples/Utilities/master/bootstrap-md-grid/bootstrap-md-grid.css" type="text/css" >
	</head>
    <body>
        <header>
        <div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3>myApp</h3>
				</div>
			</div>
		</div>
      </header>
     <nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li> <a href="/"> Home </a> </li>
						<li> <a href="/about"> About </a> </li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
   <div class="container">
	   <div class="row">
				<section class="main col-md-12">
					<article>
					<h2>Xiaochen Wang - "the developer"</h2>
					<p>Hi There,</p>
					<p>My name is Xiaochen Wang and I'm currently studying Computer Programming and Analysis at Seneca College of Applied Arts & Technology. My Interests are everything related to HTML, JavaScript and CSS and I'm currently in the process of mastering the MEAN stack. It's my goal to become a full-steak JavaScript developer and continue to lean and expand my experience to include all the amazing new dev tools, enviroments, libraries, workflows and design methodlogies available to the fill-stack / MEAN developer community.</p>
					<p>Enjoy browsing my app! If you have any questios, or are in need of a JS dev for your project, I can be found at [xwang345@myseneca.ca].</p>
					<p>Sincerely,</p>
					<p>Xiaochen Wang</p>
					</article>
				</section>
		</div>
	</div>
   <footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>&#169;2017 - Xiaochen Wang</h2>
			</div>
		</div>
	</div>
   </footer>
    </body>
</html>
